body {
    background-image: url(https://www.shutterstock.com/image-vector/abstract-red-dark-grunge-background-600nw-1719628603.jpg);
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: Pirata !important;
}

.brown_bg {
    background-color: #7b5735 !important;
}

.Pirata {
    font-family: Pirata !important;
}

.Almendra {
    font-family: Almendra !important;
}

.Jim_Nightshade {
    font-family: Jim Nightshade !important;
}

.Kapakana {
    font-family: Kapakana !important;
}

.darkbrown {
    background-color: #2d1409 ;
}


.wine {
    color: #250803;
}

.brown {
    color: #ffdbb4 !important
}

.final_AHL {
    font-family: Almendra !important;
    font-size: 23px !important;
}

.title {
    font-weight: 510 !important;
    font-size: 45px !important;;
}

.header {
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.pwPOkB7GJPf54x-Jd_n0wwHaE8?w=900&h=600&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    background-position: center !important;
    height: 350px !important;
    opacity: 0.75;
}

.fix {
    margin-left: 12px !important;
}
.margin {
    margin: 15px !important;
}

.heavy {
    font-weight: 600 !important;
}

.margin_clubs {
    max-width: 90% !important;
    padding-top: 15px;
}

.margin_top {
    margin-top: 18px !important;
}

.logo {
    width: 50px !important;
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
}

#div1_grades {
    max-width: 90% !important;
    margin: 0 auto !important;
    overflow: hidden !important;
    color: #ffdbb4 !important;
    background-color: #561717!important;
    border-radius: 20px !important;
    border: 1px dashed rgb(122, 23, 23) !important;
  
}


.card_bg {
    color: #ffdbb4 !important;
    background-color: #561717!important;
    border-radius: 20px !important;
    border: 1px dashed rgb(255, 101, 101) !important;
}

.btn_custom {
  background-color: #d34545!important; 
  color: #ffdbb4 !important;
  border: none;
}
.btn_custom:hover {
  background-color: #55140a !important; 
  border: 1px solid rgb(255, 255, 255) !important;
}

.information_clubs {
    background-color: white;
    max-width: 90% !important;
    margin: 0 auto;
    border-radius: 10px;;
}

.carousel-item {
    width: 100%;
    height: 400px; 
    position: relative;
    border: 1px #b19c85 !important;
}

.subject {
    text-align: center;
    align-items: justify;
    margin: auto !important;
}

.padding_top {
    padding: 23px !important;
    margin-top: 2px;
}

.club_info {
    max-width: 90% !important;
}

.button_size {
    width: 210px !important;
    height: 42px !important;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;

}

.div2_grades {
    background-color: white;
    max-width: 90% !important;
    border-radius: 20px;
}

.description {
    background-color: white;
    height: 200px;
    border-radius: 20px;
}

.head_image {
    width: 370px !important;
    height: 270px !important;
    border-radius: 10px;
}

.white {
    color: white;
}

.right {
    text-align: right !important;
}

.org {
    display: flex !important;
    justify-content: center !important;
}

.cen {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
}

.ital {
    font-style: italic !important;
}

.pad {
    padding: 4px !important;
    margin-top: 14px !important;
}

.row {
    display: flexbox !important;
}

.output_clubs {
    background-color: white;
    max-width: 90% !important;
    margin: 0 auto;
    border-radius: 10px;
    height: 120px;
}

.navbar .nav-link {
  color: #b19c85;
}

/* Hover Effect */
.navbar .nav-link:hover {
  color: #8e6e51;
}

#footer {
    background-color: #2d1409;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px !important;
    display: flex !important;
    position: fixed !important;
    align-items: center !important;
    justify-content: center !important;
    color: #c2ad96;
}



